<div>
  <b>Start by resizing the canvas to the room size you want (e.g 300x300 = 300 blocks by 300 blocks)</b><br>
  <canvas width='0' height='0' style='border: 1px solid black' id='canvas'></canvas>
</div>
<div>
  <button id='layer1' onclick='layerSwitch(1);'>Layer 1</button>
  <button id='layer2' onclick='layerSwitch(2);'>Layer 2</button>
  <button id='layer3' onclick='layerSwitch(3);'>Layer 3</button>
  <button id='layer4' onclick='layerSwitch(4);'>Layer 4</button>
  <button id='layer5' onclick='layerSwitch(5);'>Layer 5</button>
  <button id='grid' onclick='grid = !grid;'>Grid Toggle</button>
</div>
<div id='layer1-buttons'>
</div>
<div id='layer2-buttons'>
</div>
<div id='layer3-buttons'>
</div>
<div id='layer4-buttons'>
</div>
<div id='layer5-buttons'>
</div>
<div>
  <input id='resize-text' />
  <button id='resize'>Resize</button>
</div>
<script>
  // important variables
  var currentLayer = 1, currentBlock = 'air', grid = true;

  var canvas = document.getElementById('canvas');
  var draw = canvas.getContext('2d');
  var l1b = document.getElementById('layer1');
  var l2b = document.getElementById('layer2');
  var l3b = document.getElementById('layer3');
  var l4b = document.getElementById('layer4');
  var l5b = document.getElementById('layer5');
  var l1bs = document.getElementById('layer1-buttons');
  var l2bs = document.getElementById('layer2-buttons');
  var l3bs = document.getElementById('layer3-buttons');
  var l4bs = document.getElementById('layer4-buttons');
  var l5bs = document.getElementById('layer5-buttons');
  var r = document.getElementById('resize');
  var rt = document.getElementById('resize-text');
  // Layer 1 - Background 
  // Layer 2 - Blocks
  // Layer 3 - Collision (not drawn)
  // Layer 4 - Placables
  // Layer 5 - Particles
  /*
  	{
  		back: base64 image
  		surface: base64 image
  		collision: [
  			{
  				x:
  				y:
  			},
  			...
  		],
  		particle: [
  			{
  				x:
  				y:
  			},
  			...
  		],
  		placables: [
  			{
  				id:
  				x:
  				y:
  			}
  		],
  	}
  */
  var current = 4;
  var layers = [
    [],
    [],
    [],
    [],
    []
  ];

  var blocks = {
    bricks: 'bricks',
    water: 'water',
    dirt: 'dirt',
    stone: 'stone',
    stone_wall: 'stone_wall',
    grass: 'grass',
    void: 'void',
  }

  for (var property in blocks) {
    var src = blocks[property];
    blocks[property] = new Image();
    blocks[property].src = src;
    var b = document.createElement('BUTTON');
    b.innerHTML = property;
    b.id = property+'1';
    b.class = 'option';
    b.addEventListener('click', blockSwitch);
    l1bs.appendChild(b);
    b = document.createElement('BUTTON');
    b.innerHTML = property;
    b.id = property+'2';
    b.class = 'option';
    b.addEventListener('click', blockSwitch);
    l2bs.appendChild(b);
  } // Load images and add image buttons to editor

  r.addEventListener('click', function() {
    var str = rt.value;
    str = str.split('x');
    resize(str[0], str[1]);
  }); // resize

  function resize(width, height) {
    var l = 0;
    while (l < layers.length) {
      var q = 0;
      var temp = [];
      while (q < width) {
        temp.push({
          id: 'null',
        });
        q++;
      }
      var q = 0;
      var temp2 = [];
      while (q < height) {
        temp2.push(temp);
        q++;
      }
      layers[l] = temp2;
      l++;
    }
    canvas.width = 20 * width;
    canvas.height = 20 * height;
  }

  function layerSwitch(id) {
    var l = 1;
    while (l<6) {
      window['l'+l+'bs'].style.display = 'none';
      window['l'+l+'b'].style.fontWeight = 'normal';
      l++;
    }
    window['l'+id+'bs'].style.display = 'block';
    window['l'+id+'b'].style.fontWeight = 'bold';
    currentLayer = id;
  }

  function blockSwitch(e) {
    id = e.currentTarget.id;
    for (var property in blocks) {
      document.getElementById(property+currentLayer).style.fontWeight = 'normal';
    }
    document.getElementById(id).style.fontWeight = 'bold';
    currentBlock = id.replace(currentLayer, '');
  }

  function mousedown(e) {
    var x = e.clientX + document.body.scrollLeft + document.documentElement.scrollLeft;
    var y = e.clientY + document.body.scrollTop + document.documentElement.scrollTop;
    x -= canvas.offsetLeft;
    y -= canvas.offsetTop;
    x = Math.floor(x / 20);
    y = Math.floor(y / 20);
    layers[currentLayer][y][x] = currentBlock;
  }

  function mousemove(e) {

  }


  function render() {
    clearRect(0, 0, canvas.width, canvas.height);
    if (grid) {
      draw.strokeStyle = '#000000';
      draw.lineWidth = 1;
      var l = 0;
      while (l<canvas.width/20) {
        draw.beginPath();
        draw.moveTo(l*20, 0);
        draw.lineTo(l*20, canvas.height);
        draw.stroke();
        l++;
      }
      l = 0;
      while (l<canvas.height/20) {
        draw.beginPath();
        draw.moveTo(0, l*20);
        draw.lineTo(canvas.width, l*20);
        draw.stroke();
        l++;
      }
    }
    var y = 0;
    while (y<canvas.height/20) {
      var x = 0;
      while (x<canvas.width/20) {
        if (layers[currentLayer][y][x].id !== 'null') {
          draw.drawImage(blocks[layers[currentLayer][y][x].id], x*20, y*20);
        }
        x++;
      }
      y++;
    }
  }
  /* Add Listeners */
  document.addEventListener('mousedown', mousedown);
  document.addEventListener('mousemove', mousemove);
  setInterval(render, 1000/60); // 60 fps renderer
</script>
