
<canvas width='500' height='500' id='canvas' style='border: 5px solid black'> </canvas>
<h1 id='score'> Score: 0 - 0 </h1>
<script>


  var canvas = document.getElementById('canvas');
  var draw = canvas.getContext('2d');
  var playerM
  var player = {
    x: 1,
    y: 1,
  }
  var player2 = {
    x: 479,
    y: 479,
  }
  var multiplayer = {
    x: 0,
    y: 0,
    infected: false,
  }
  var game = {
    intervals: [],
    trackers: [],
    player1_score: 0,
    player2_score: 0,
    attacker: 1,
    timer: 15,
  }
  startScreen();
  function startScreen() {
    draw.fillStyle = 'lime';
    draw.fillRect(50, 50, 400, 400);
    draw.fillStyle = 'orange';
    draw.fillRect(100, 300, 50, 50);
    draw.fillStyle = '#CC8899';
    draw.fillRect(225, 300, 50, 50);
    draw.fillStyle = '#E2FCFF';
    draw.fillRect(350, 300, 50, 50);
    draw.fillStyle = '#ffffff';
    draw.font = '20px Courier';
    draw.fillText('Tag, click anywhere to start', 100, 100);
    canvas.addEventListener('click', clck);
  }
  function clck(e) {
    sessionStorage.username = prompt('Gimme ur word');
    e = e || event;
    if (e.pageX || e.pageY) {
      x = e.pageX;
      y = e.pageY;
    } else {
      x = e.clientX + document.body.scrollLeft + document.documentElement.scrollLeft;
      y = e.clientY + document.body.scrollTop + document.documentElement.scrollTop;
    }
    x -= canvas.offsetLeft;
    y -= canvas.offsetTop;
    runMultiplayer();
  }
  var intervals = {
    render: null,
    timedown: null,
  }
  function runSingleplayer() {
    canvas.removeEventListener('click', clck);
    intervals.render = setInterval(render, 30);
    intervals.timedown = setInterval(timedown, 1000);
    document.addEventListener('keydown', keydown);
    document.addEventListener('keyup', keyup);
  }
  function endSingleplayer() {
    document.removeEventListener('keydown', keydown);
    document.removeEventListener('keydown', keyup);
    startScreen();
    clearInterval(intervals.render);
    clearInterval(intervals.timedown);

  }
  function runMultiplayer(mode) {
    canvas.removeEventListener('click', clck);
    playerM = new Joiner(mode);
  }
  class Joiner {
    constructor(mode) {
      this.player = {
        x: 0,
        y: 0,
        infected: false,
        old: [],
        trail_color: '#A9A9A9',
      }
      this.socket = new WebSocket('wss://starx.ga/server');
      this.socket.onopen = function() {
        window.setInterval(playerM.drawGame, 30);
        window.setInterval(playerM.send, 30);
        document.addEventListener('keydown', playerM.keydown);
        document.addEventListener('keyup', playerM.keyup);
        playerM.join();
      }
      this.socket.onmessage = function(d) {
        document.getElementById('score').innerHTML = d.data
        playerM.router(d);
      }
      this.socket.onclose = function() {
        console.log('ded')
      }
    }
    join() {
      this.socket.send(JSON.stringify({
        operation: 'multiplayer',
        room: 0,
        username: sessionStorage.username,
        type: 'joiner',
        task: 'tag',
        mode: 0,
      }));
      // tell server what multiplayer game player wants to join
      this.socket.send(JSON.stringify({
        operation: 'multiplayer',
        task: 'tag',
        username: sessionStorage.username,
        type: 'joiner',
        event: 'joinerjoin',
        data: {
          x: 0,
          y: 0,
          infected: false,
          username: sessionStorage.username,
          isBot: false,
        }
      }))
    }
    router(d) {
      var data = JSON.parse(d.data);
      if (data.event == 'override') {
        playerM.override(data);
      }
      if (data.event == 'hostupdate') {
        playerM.gameData = data;
        playerM.drawGame();
      }
    }
    override(data) { // change values on client by server
      console.log(data);
      if (data.infected != undefined) playerM.player.infected = data.infected;
      if (data.x != undefined) playerM.player.x = data.x;
      if (data.y != undefined) plawayerM.player.y = data.y;
    }
    drawGame() {
      if (playerM.player.old.length > 20) {
        playerM.player.old.shift();
      }
      playerM.player.old.push({x: playerM.player.x, y: playerM.player.y});
      var data = playerM.gameData;
      var l = 0;
      while (l<data.players.length) {
        if (sessionStorage.username == data.players[l].username) {
          draw.setTransform(1, 0, 0, 1, -data.players[l].x+240, -data.players[l].y+240);
        }
        l++;
      }
      draw.fillStyle = '#000000';
      draw.fillRect(-5000, -5000, 10000, 10000);
      draw.clearRect(0, 0, 1500, 1500);
      var l = 0;
      while (l<data.players.length) {
        if (sessionStorage.username == data.players[l].username) {
          var q = 0, breakoff;
          while (q<playerM.player.old.length) {
            if (playerM.player.old[q].x == data.players[l].x) {
              if (playerM.player.old[q].y == data.players[l].y) {
                breakoff = q;
              }
            }
            q++;
          }
          var q = 0;
          while (q<breakoff) {
            if (q != 0 && q != 1) {
              draw.beginPath();
              draw.strokeStyle = '#001429';
              draw.lineWidth = 20;
              draw.moveTo(playerM.player.old[q-2].x+10, playerM.player.old[q-2].y+10);
              draw.lineTo(playerM.player.old[q].x+10, playerM.player.old[q].y+10);
              draw.stroke();
            }
            q++
          }
        }
        l++;
      }
      var l = 0;
      while (l<data.players.length) {
        if (data.players[l].infected) {
          draw.fillStyle = 'red';
        } else {
          draw.fillStyle = 'blue';
        }
        draw.fillRect(data.players[l].x, data.players[l].y, 20, 20);
        draw.fillStyle = '#A9A9A9';
        draw.fillText(data.players[l].username, data.players[l].x+10, data.players[l].y-20)
        l++;
      }
      draw.textAlign = 'center';
      draw.fillStyle = '#A9A9A9';
      draw.setTransform(1, 0, 0, 1, 0, 0);
      draw.fillText(data.message, 250, 30);
      draw.fillText(data.bottom_message, 250, 450);
      // holds all game data sent by server
    }
    send() { // update server with information about which direction you are going
      playerM.socket.send(JSON.stringify({
        operation: 'multiplayer',
        task: 'tag',
        username: sessionStorage.username,
        event: 'joinerupdate',
        x: playerM.player.x,
        y: playerM.player.y,
      }));
    }
    keydown(e) {
      e.preventDefault();
      if (game.trackers[e.keyCode] == undefined) {
        game.trackers[e.keyCode] = 'active';
        game.intervals[e.keyCode] = setInterval(playerM.move, 10, e);
      }
    }
    keyup(e) {
      e.preventDefault();
      clearInterval(game.intervals[e.keyCode]);
      game.trackers[e.keyCode] = undefined;
    }
    check(x, y) {
      if (x < 0 || y < 0 || x+20 > 1500 || y+20 > 1500) {
        return false;
      }
      return true;
    }
    move(e) {
      var k = e.keyCode;
      if (k == 87 && playerM.check(playerM.player.x, playerM.player.y-2)) {
        playerM.player.y -= 2;
      }
      if (k == 83 && playerM.check(playerM.player.x, playerM.player.y+2)) {
        playerM.player.y += 2;
      }
      if (k == 68 && playerM.check(playerM.player.x+1, playerM.player.y)) {
        playerM.player.x += 2;
      }
      if (k == 65 && playerM.check(playerM.player.x-2, playerM.player.y)) {
        playerM.player.x -= 2;
      }
    }
  }
  function keydown(e) {
    e.preventDefault();
    if (game.trackers[e.keyCode] == undefined) {
      game.trackers[e.keyCode] = 'active';
      game.intervals[e.keyCode] = setInterval(move, 5, e);
    }
  }
  function keyup(e) {
    e.preventDefault();
    clearInterval(game.intervals[e.keyCode]);
    game.trackers[e.keyCode] = undefined;
  }
  function render() {
    draw.clearRect(0, 0, 500, 500);
    draw.font = '20px Courier';
    draw.fillStyle = '#000000';
    draw.fillText(game.timer, 220, 20);
    draw.fillStyle = '#000000';
    if (game.attacker == 1) {
      draw.fillRect(player.x - 3, player.y - 3, 26, 26);
    } else {
      draw.fillRect(player2.x - 3, player2.y - 3, 26, 26);
    }
    draw.fillStyle = '#ff00ff';
    draw.fillRect(player.x, player.y, 20, 20);
    draw.fillStyle = '#f0ff0f';
    draw.fillRect(player2.x, player2.y, 20, 20);
    if (checker2()) {
      if (game.attacker == 1) {
        game.player1_score++;
        game.attacker = 2;
      } else {
        game.player2_score++;
        game.attacker = 1;
      }
      player.x = 0;
      player.y = 0;
      player2.x = 480;
      player2.y = 480;
      game.timer = 15;
    }
    document.getElementById('score').innerHTML = 'Score: P1:' + game.player1_score + ' - P2:' + game.player2_score;
  }

  function timedown() {
    game.timer -= 1;
    if (game.timer == 0) {
      if (game.attacker == 1) {
        game.player2_score++;
        game.attacker = 2;
      } else {
        game.player1_score++;
        game.attacker = 1;
      }
      document.getElementById('score').innerHTML = 'Score: P1:' + game.player1_score + ' - P2:' + game.player2_score;
      player.x = 0;
      player.y = 0;
      player2.x = 480;
      player2.y = 480;
      game.timer = 15;
    }
  }

  function move(e) {
    if (e.keyCode == 87 && checker(player.x, player.y - 2)) {
      player.y -= 2;
    }
    if (e.keyCode == 83 && checker(player.x, player.y + 2)) {
      player.y += 2;
    }
    if (e.keyCode == 68 && checker(player.x + 2, player.y)) {
      player.x += 2;
    }
    if (e.keyCode == 65 && checker(player.x - 2, player.y)) {
      player.x -= 2;
    }
    if (e.keyCode == 38 && checker(player2.x, player2.y - 2)) {
      player2.y -= 2;
    }
    if (e.keyCode == 40 && checker(player2.x, player2.y + 2)) {
      player2.y += 2;
    }
    if (e.keyCode == 39 && checker(player2.x + 2, player2.y)) {
      player2.x += 2;
    }
    if (e.keyCode == 37 && checker(player2.x - 2, player2.y)) {
      player2.x -= 2;
    }
  }

  function checker(x, y) {
    if (x < 0 || y < 0 || x + 20 > 500 || y + 20 > 500) {
      return false;
    } else {
      return true;
    }
  }

  function checker2() {
    if (player.x >= player2.x && player.x <= player2.x + 20 && player.y >= player2.y && player.y <= player2.y + 20) {
      return true;
    }
    if (player.x + 20 >= player2.x && player.x + 20 <= player2.x + 20 && player.y + 20 >= player2.y && player.y + 20 <= player2.y + 20) {
      return true;
    }
    if (player.x + 20 >= player2.x && player.x + 20 <= player2.x + 20 && player.y >= player2.y && player.y <= player2.y + 20) {
      return true;
    }
    if (player.x >= player2.x && player.x <= player2.x + 20 && player.y + 20 >= player2.y && player.y + 20 <= player2.y + 20) {
      return true;
    }
  }
</script>
