<link rel='stylesheet' type='text/css' href='/assets/imports/css/header.css' />
<img alt='Logo' width='50px' height='50px' src='/favicon.ico' class='logo' id='logo'>
<a href='/' class='logo'><button class='nav-button'>Lunar Game Studios</button></a>
<b>
<a href='/blog/home'><button class='nav-button'>Blog</button></a>
<a href='/chat'><button class='nav-button'>Chat</button></a>
<a href='/projects'><button class='nav-button'>Projects</button></a>
</b>
<a href='/account'><button class='nav-button' id='create-account'>Create Account</button></a>
